node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pem
.vscode
.idea
*.md
!README.md
Dockerfile
docker-compose*
.next-local/
coverage/
eslint.config.mjs
components.json
