node_modules
dist
.git
.gitignore
.github
.vscode
.idea
*.log
backend_log.txt
.env
.env.*
*.md
!README.md
Dockerfile
docker-compose*
test/
coverage/
.nest-cli.json
.prettierrc
eslint.config.mjs
jest.config.*
tsconfig*.json
!tsconfig.json
!tsconfig.build.json

*.tar.gz
